[submodule "v3/v3a"]
	path = v3/v3a
	url = git@github.com:Michael-Lloyd/PicoGamePad.git
	branch = v3a
#[submodule "v3a"]
[submodule "v4a"]
	path = v4/v4a
	url = git@github.com:Michael-Lloyd/PicoGamePad.git
